body{
    background-color: aquamarine;
    padding: 0%;
    margin: 0%;
}
.block-taille-ecran{
    min-height: 100vh;  
}

.acceuil{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    background-image: url("/image/EJ1A6224.jpg");
    background-size: cover;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.portfolio{

    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: blue;

}

.offres{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.offre-grand{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.boutton{
    background-color: brown;
    padding: 3%;
    margin: 3%;
    color: white;
    text-decoration: none;

}
.logo-rond{
    width: 10%;
    border-radius: 50%;
}

.paragraphe-presentation{
    margin-left: 10%;
    margin-right: 10%;
}
.centrer{
    text-align: center;
}

.carte{
    border: solid 1mm;
}

.offres-contenu{
    text-align: left;
}

.contact{

    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contact>form{
    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contact>form>input{
    margin-bottom: 20%;
}

.contact-coordonnees{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
}

footer{
    display: flex;
    flex-direction: row;

}
footer>div{
    flex:1;
}

.ligne-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sommaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sommaire>div{
    display: flex;
    flex-direction: column;
}

.logo-footer{
    width: 50%;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  
}
.conteneur-footer-logo{
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteneur-footer-sommaire{
    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.conteneur-footer-mail{
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    padding-bottom: 50px;
    padding-right: 50px;
}

a{
    color:inherit;
    text-decoration: none;
}

.conteneur-login{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    min-height: 100vh;

   
}

.login-lasalle{
    background-color: rgb(165, 42, 42);
    width: 100%;
    flex :11;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-evenement{
    flex: 10;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordure-fondue{
    flex:1;
    background: linear-gradient(90deg, rgb(165, 42, 42) 0%, rgba(252,252,252,0) 100%);
}

.header-logo{
    padding : 25px;
    font-size: 25px;
}

.derniere-categories {
    display: flex;
}

.derniere-categories>div {
    flex:1;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2vw;
    height: calc(88vw/3) ;
}


.derniere-categorie1{
    background-image: url("/image/rallye.jpg");
    background-size:cover;
}

.derniere-categorie2{
    background-image: url("/image/JDC.jpg");
    background-size:cover;
}

.derniere-categorie3{
    background-image: url("/image/DFI.jpg");
    background-size:cover;
}

.conteneur-categorie{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: blue;
    border-radius:20px ;
    margin: 20px;
}

/* voire plus de catégorie  */
.read-more-state {
    display: none;
  }
  
.read-more-target {
   opacity: 0;
   max-height: 0;
   font-size: 0;
   transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.categorie-label{
    display: flex;
    padding-left: 50px;
}

.read-more-target{
    padding : 5px;
}

.read-more-wrap{
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.categorie{
    padding-left: 40px;
}

li{
    list-style: none;
}

/* view_Photo */

.download{
    background-color: rgba(188, 0, 0, 0.505);
    position: absolute; 
    width: 32vw;
    
    opacity: 0;
}
.download>a{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download:hover{
    opacity: 1;
}
.conteneur-photo>a>img{
    width:32vw;
    height: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-photo>div{
    padding: 25px;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.header-photo>div>a{
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}