body{

    background-color:#919191 ;
    background-color:#ECECEC ;
    background-color:#F9F9F8 ;
    background-color:#C5030C ;
    background-color:#7D0003 ;
    background-color:#1A1A1A ;
    background-color:#ECECEC ;

    padding: 0%;
    margin: 0%;

    font-family: Roboto;
   

}
h2{
    font-family: Oswald,Helvetica,Arial,sans-serif;
    font-size: 42px;
}
.block-taille-ecran{
    min-height: 100vh;  
}

.acceuil{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    background-image: url("/image/EJ1A6224.jpg");
    background-size: cover;

    position: fixed;
    top: 0%;
    z-index: 0;
    
    height: 100vh;
    width: 100vw;

}
.presentation{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;

    background-color:#ECECEC ;

    position: relative;
    z-index: 3;

}


.portfolio-row{
    display: flex;
    flex-direction: row;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    height: 100%;
    overflow: hidden;
    background-color:#ECECEC ;
    background-color:#F9F9F8 ;

    padding-bottom: 10%;
    padding-top: 10%;

    
    position: relative;
    z-index: 3;
}


.portfolio{
    height: 20vw;
    width: 25vw;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-size: cover;
    margin: 0px;

    
    background-position: center;
    background-size:150%;

    transition-property: background-size,background-color;

    transition-duration: 0.5s;

}

.portfolio:hover{
    background-size: 160%;
    
}
.portfolio:hover .portfolio-hover{

    background-image:url("/image/plus.svg");
   
     background-color:#ececec92 ;
    height: 20vw;
    width: 25vw;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-size: 40%;
    margin: 0px;

    background-position: center;
    background-size:40%;  
    background-repeat: no-repeat; 
}

.portfolio-hover{
    position: none;
}
.offres{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-evenly;  

 
}

.offre-grand{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color:#ECECEC ;
    
    position: relative;
    z-index: 3;
}


.boutton{
    background-color: brown;
    padding: 3%;
    margin: 3%;
    color: white;
    text-decoration: none;

}
.logo-rond{
    width: 10%;
    border-radius: 50%;
}

.paragraphe-presentation{
    margin-left: 20%;
    margin-right: 20%;
}
.centrer{
    text-align: center;
}

.carte{
   
    border-radius: 16px;
    background: linear-gradient(to right bottom,#d5d4d4 ,#ECECEC);
  
    padding: 2%;

    display: flex;
    flex-direction: column;      
    box-shadow: #ECECEC 0px 0px 8px, rgba(0, 0, 0, 0.3) 0px 0px 8px;       

    flex:0.2;
 
}

.titre-carte{
    border-radius: 16px;
    background-color: white ;
    padding: 2%;
    margin : 0%;
    /* box-shadow: #ECECEC 0px 0px 8px, rgba(0, 0, 0, 0.3) 0px 0px 8px;     */
    box-shadow: 0px  4px 7px 0px rgba(0, 0, 0, 0.5);   

}
.titre-carte>h3{
    text-transform: uppercase;
    font-family: "Mont W05","sst",Arial,sans-serif;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: .94em;
    text-transform: uppercase;

}
.titre-carte>p{
    color: white;
    font-size: smaller;

}
.lasalle{

    background-color:#919191 ;
    background-color:#ECECEC ;
    background-color:#F9F9F8 ;
    background-color:#C5030C ;
    background-color:#7D0003 ;
    background-color:#1A1A1A ;
    background-color:#ECECEC ;

    background-color:#1A1A1A ;
    color:#C5030C ;
  
  
}
.entreprise{

    background-color:#C5030C ;
    color:#1A1A1A ;
}

.offres-contenu{
    text-align: left;
    padding-top:8%;
    padding-bottom: 8%;
}


.label{

    font-weight: bold;
    margin-bottom: 0%;
}
.info{
    margin-top: 0%;
}
input, textarea{
    width: 100%;
    border-radius: 16px;
}
.index-image{
    background-image: url("/image/fond-index.jpg");
    background-size: cover;
    position: sticky;
    top:-35%;
    z-index: 2;
}
.contact{

    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    
}

.contact>form{
    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contact>form>input{
    margin-bottom: 20%;
}

.contact-coordonnees{
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
    
    background-color:#ECECEC ;
    padding-bottom: 5%;

    
    position: relative;
    z-index: 3;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    
    position: relative;
    z-index: 3;

}
footer>div{
    flex:1;
}

.ligne-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sommaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sommaire>div{
    display: flex;
    flex-direction: column;
}

.logo-footer{
    width: 50%;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  
}
.conteneur-footer-logo{
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
}
.conteneur-footer-sommaire{
    display: flex;

    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.conteneur-footer-mail{
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    padding-bottom: 50px;
    padding-right: 50px;
}

a{
    color:inherit;
    text-decoration: none;
}

.conteneur-login{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    min-height: 100vh;

   
}

.login-lasalle{
    background-color: rgb(165, 42, 42);
    width: 100%;
    flex :11;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-evenement{
    flex: 10;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordure-fondue{
    flex:1;
    background: linear-gradient(90deg, rgb(165, 42, 42) 0%, rgba(252,252,252,0) 100%);
}

.derniere-categories {
    display: flex;
}

.derniere-categories>div {
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2vw;
    height: calc(88vw/3);
}


.derniere-categorie1{
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2vw;
    height: calc(88vw/3);

 
    border-radius: 4px;
    display: flex;  
    background-position: center;
    background-size:150%;

    transition-property: background-size;
    transition-duration: 0.5s;

}
.derniere-categorie1:hover{
    background-size: 160%;
}

.derniere-categorie1>div{
    flex:2;
}

.text-categorie{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.searchbar{
    text-align: center;
    background-color: beige;

    margin-left: 20%;
    margin-right: 20%;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;

    border-radius:10000000px;


    display: flex;
}

.searchbar>input{
    flex : 3;
    height : 4vh;

    border : none;
    background-color: inherit   ;
}
.searchbar>button{
    flex : 1;
    height :auto;
    border : none;
    background-color: inherit;
}

.searchbar>button>img{
    flex : 1;
    height :auto;
}

.conteneur-categorie{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: blue;
    border-radius:20px ;
    margin: 20px;
}

/* voire plus de catégorie  */
.read-more-state {
    display: none;
  }
  
.read-more-target {
   opacity: 0;
   max-height: 0;
   font-size: 0;
   transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.categorie-label{
    display: flex;
    padding-left: 50px;
}

.read-more-target{
    padding : 5px;
}

.read-more-wrap{
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.categorie{
    padding-left: 40px;
}

li{
    list-style: none;
}

/* view_Photo */

.download{
    background-color: rgba(188, 0, 0, 0.505);
    position: absolute; 
    width: 32vw;
    
    opacity: 0;
}
.download>a{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download:hover{
    opacity: 1;
}
.conteneur-photo>a>img{
    width:32vw;
    height: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.header{
    padding: 25px;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.header>div>img{
    height: 15vh;
}
.header>a{
    flex:1;
    text-align: center;
}

.header-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.header-index{
    background-color: #1a1a1a7e;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    color: white;

    position: sticky;
    top: 0%;
    z-index: 2;
}
.header-index>div>img{
    height: 15  vh;
}


.header-photo>div{
    display: flex;
}



/* Administrateur */
.admin-categorie{
    display: flex;
    border: solid 1px black;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    background-color: brown;
    color: white;
}

.admin-plus{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

.admin-plus>img{
    height: max-content;
}

.dossier{
    border: solid 1px black;
    padding: 2%;
    margin: 2%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #7D0003 ;
}
.dossier>h3{
    margin-right: 20px;
}

.admin-categorie-corps{
    border: solid 1px black;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-bottom: 2%;
}

.admin-row{
    display: flex;
    justify-content: space-around;
}

/* new categorie */
article{
    background-color: rgba(165, 42, 42);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
}
.article-categorie{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    padding : 2%;
}

.article-categorie>form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.background{
    background-color: rgba(0, 0, 0, 0.70);
    height: 100vh;
    width: 100vw;
    position : fixed;

    z-index: 3;

}

/* portfolio */

.portfolio-manager{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;   
}

.portfolio-manager>p {
    margin:4%;
    flex : 1;
}

.portfolio-manager>a {
    margin:4%;
    flex:1
}
.portfolio-manager>a>img{
    width: auto;
}

.admin-bouttons{
    display: flex;
}

/* categorie pool */
