<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\carousel.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>Com'Studio</title>
</head>
<body>
    <a href='/admin'>
    <div class="boutton">
    <p style="text-align:center">ok </p>
    </div>
    </a>
    {% include 'footer.html' %}
</body>
</html>