{% include 'view_admin.twig' %}

<div class="background">    
    <article class='article-categorie'>
        <h2>Nouvelle categorie</h2>
        <form method = "post" action="/add_categorie">
            <div  class="nom_categorie" >
                <label for="name_categorie">Nom Catégorie</label>
                <input name="name_categorie" id="name_categorie">
            </div>
            <fieldset>
                <legend>Peut-être vu par : </legend>
                <input type='checkbox' name="Unilasalle" value='Unilasalle'>
                <label for="unilasalle">UniLaSalle</label>

                <input type='checkbox'  name="EventCode" value='EventCode'>
                <label for="EventCode">Code Evenement</label>
                <div>
                    <h3>Nom evenement</h3>
                    <p>Studio-[nom de categorie]</p>

                    <label for="codeEvenement" >Code evenement</h3>
                    <input type='text' name="codeEvenement">
                </div>       
                    <label for="date" >Date de publication</h3>
                    <input type='datetime-local' name="date">

                <p>Par défaut, le dossier créé sera invisible</p>
            </fieldset>

            <a href="/admin" class="boutton">Annuler</a>
            <button  type="submit" class="boutton">Créer</button>
        </form>
    </article>
</div>