!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\carousel.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>ADMIN</title>
</head>
    {% set nbPerRow = 4 %}

<body>
    {# {% include 'portfolio.twig' %} #}

    <header class="header-photo">
        <div id="home" class="header-logo">Com'STUDIO</div>
        
        <div><h1 style="color:white">Administrateur </h1></div>

        <div>
            <a href="/categorie" class="boutton">Nouvel evenement</a>
            <a href="/portfolio" class="boutton">Portfolio</a>
        </div>
        
    </header>


<div class="background">    
    <article class='article-categorie'>
        <h2>Portfolio</h2>
        <h3>Photos actuelles</h3>

        {% set portfolios = ["/image/portfolio1.jpg","/image/portfolio2.jpg","/image/portfolio3.jpg","/image/portfolio4.jpg","/image/portfolio5.jpg"] %}

        {% for portfolio in portfolios %}

            <div class="portfolio-manager">
                <p>{{ portfolio }}</p>
              
                <a href=""><img src="image/x-circle-fill.svg"></a>
                
            </div>

            
        {% endfor %}
        <form method="POST" action="\upload" enctype="multipart/form-data">
            <img src="image/upload.svg">
            <input type="file" accept=".jpg, .jpeg" name="fichier[]" class="boutton" multiple>
            
            <button type="submit" class="boutton" name="ajouter" value="portfolio">Ajouter une image</button>
            <a href="\admin" class="boutton">Annuler</a>
        </form>

    </article>
</div>

</body>