<div class="background">    
    <article class='article-categorie'>
        <h2>Portfolio</h2>
        <h3>Photos actuelles</h3>

        {% set portfolios = ["/image/portfolio1.jpg","/image/portfolio2.jpg","/image/portfolio3.jpg","/image/portfolio4.jpg","/image/portfolio5.jpg"] %}

        {% for portfolio in portfolios %}

            <div class="portfolio-manager">
                <p>{{ portfolio }}</p>
              
                <a href=""><img src="image/x-circle-fill.svg"></a>
                
            </div>

            
        {% endfor %}
        <form method="POST" action="\upload" enctype="multipart/form-data">
            <img src="image/upload.svg">
            <input type="file" accept=".jpg, .jpeg" name="fichier[]" class="boutton" multiple>
            
            <button type="submit" class="boutton" name="ajouter" value="portfolio">Ajouter une image</button>
            <a href="\admin" class="boutton">Annuler</a>
        </form>

    </article>
</div>