<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\carousel.css" >
    <link rel="javascript" href="style\javascript.js" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Com'Studio</title>
</head>
<body>

    <header class="header header-index">
        <a href="/" class="header-link" style>Presentation</a>
        <div><img src="image/Logo_Blanc.png"></div>
        <a href="/login">Photos</a>
    </header>



    <div id="connexion" class="block-taille-ecran acceuil">
        <a class="boutton" href = "/login">Voir les photos</a>
    </div>

    <div class="block-taille-ecran"></div>
    
  
    <div id="presentation" class="block-taille-ecran presentation">
        <h2>UNE COM' LASALLIENNE</h2>
        <p class="paragraphe-presentation">
            Laborum ad nisi labore mollit labore laborum veniam minim laborum commodo quis laborum. Consequat non eiusmod magna consectetur elit aliqua laborum aliqua irure aliqua duis. Labore officia fugiat commodo eiusmod et. Aliquip sint Lorem et pariatur aliqua adipisicing voluptate minim pariatur Lorem incididunt Lorem.
        </p>
    </div>


    <div id="portfolio" class="portfolio-container">
    
        <div class="portfolio-row">
            {# <div class="carousel">
                <ul class="slides">
                <input type="radio" name="radio-buttons" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide-image">
                    <img src="image/portfolio/portfolio1.jpg">
                    </div>
                    <div class="carousel-controls">
                    <label for="img-5" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                    </div>
                </li>

                <input type="radio" name="radio-buttons" id="img-2" />
                <li class="slide-container">
                    <div class="slide-image">
                    <img src="image/portfolio/portfolio2.jpg">
                    </div>
                    <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                    </div>
                </li>

                <input type="radio" name="radio-buttons" id="img-3" />
                <li class="slide-container">
                    <div class="slide-image">
                    <img src="image/portfolio/portfolio3.jpg">
                    </div>
                    <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-4" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                    </div>
                </li>

                <input type="radio" name="radio-buttons" id="img-4" />
                <li class="slide-container">
                    <div class="slide-image">
                    <img src="image/portfolio/portfolio4.jpg">
                    </div>
                    <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-5" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                    </div>
                </li>

                <input type="radio" name="radio-buttons" id="img-5" />
                <li class="slide-container">
                    <div class="slide-image">
                    <img src="image/portfolio/portfolio5.jpg">
                    </div>
                    <div class="carousel-controls">
                    <label for="img-4" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                    </div>
                </li>

                <div class="carousel-dots">
                    <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                    <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                    <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                    <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
                    <label for="img-5" class="carousel-dot" id="img-dot-5"></label>
                    <label for="img-6" class="carousel-dot" id="img-dot-6"></label>
                </div>
                </ul>
            </div>#}
            
            
            {% for portfolio in portfolios %}
            <a href="/photo/portfolio/2023">
            <div class="portfolio" style="background-image:url({{ portfolio}})">
                <div class = " portfolio-hover" >     
                </div>
            </div>
            </a>
            {% endfor %}

        </div>  

    </div>
   

    <div id="offres" class="block-taille-ecran offre-grand ">
        <h2>NOS OFFRES</h2>
        <div class="offres">

            <div class="carte">
                <div class="titre-carte lasalle">
                    <h3>Etudiants UniLaSalle</h3>
                    <p>Exclusivement reservés aux Lasalliens</p>
                </div>
              
                <div class="offres-contenu">
                    <li>Phographe - 8€/h</li>
                    <li>Retouche photos gratuite</li>
                    <li>Publication sur le site gratuite</li>
                    <li>Vidéaste - 8€/h</li>
                    <li>Montage - 8€/min de vidéo</li>
                </div>
                <a href="reservation" class="boutton">Demander un devis </a>
            </div>

            <div class="carte">
                 <div class="titre-carte entreprise">
                    <h3>Entreprise</h3>
                    <p>Découvrez-nous !</p>
                </div>
                <div class="offres-contenu">
                    <li>Phographe - 8€/h</li>
                    <li>Retouche photos gratuite</li>
                    <li>Publication sur le site gratuite</li>
                    <li>Vidéaste - 8€/h</li>
                    <li>Montage - 8€/min de vidéo</li>
                </div>
                <a href="reservation" class="boutton">Demander un devis </a>
            </div>
            
            <div class="carte">
                 <div class="titre-carte">
                    <h3>Exterieurs</h3>
                    <p style="color:black;">Envis de se faire plaisir ?</p>
                </div>
                <div class="offres-contenu">
                    <li>Phographe - 8€/h</li>
                    <li>Retouche photos gratuite</li>
                    <li>Publication sur le site gratuite</li>
                    <li>Vidéaste - 8€/h</li>
                    <li>Montage - 8€/min de vidéo</li>
                </div>
                <a href="reservation" class="boutton">Demander un devis </a>
            </div>
        </div>
    </div>
    <div class="block-taille-ecran index-image">
    </div>

    <div id="contact" class="contact-coordonnees">
        <div id="contact" class="contact">
        <h2>Nous contacter</h2>
        <form action="mailer.php" method="POST">
            <p>Adresse mail</p>
            <input type="text" name = "mail" id="mail"></input>
            <p>Message</p>
            <textarea name = "message" id="message"></textarea>
            <a class=boutton type="submit">Envoyer</a>
        </form>
        </div>
        <div class="coordonnees">
            <h2>Nos coordonnées</h2>
            <p class="label">Mail</p>
            <p class="info">comstudio@asso.unilasalle.fr</p>

            <p class="label">Instagram</p>
            <p class="info">@comstudio_unilasalle</p>

            <p class="label">Tiktok</p>
            <p class="info">@comstudio</p>

            <p class="label">Youtube</p>
            <p class="info">@comstudiounilasalle7497</p>
        </div>
    </div>
    


  
    {% include 'footer.html' %}
</body>
</html>