<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\demo.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="header-logo">Com'STUDIO</div>
    </header>

    <div class="derniere-categories">
        <div class="derniere-categorie1">
            <h2>Rallye 2023</h2>
            <a href="/photo" class="boutton">Photos</a>
        </div>

        <div class="derniere-categorie2">
            <h2>JDC 2023</h2>
            <a href="/photo" class="boutton">Photos</a>
        </div>

        <div class="derniere-categorie3">
            <h2>DFI 2023</h2>
            <a href="/photo" class="boutton">Photos</a>
        </div>
    </div>

    <label for="post-2">
        <div class="conteneur-categorie">
            
            <div  class="categorie-label">
                <img src="image/chevron-down.svg" alt="">
                <h2 class="categorie">Gala</h2>
            </div>
                
            <input type="checkbox" class="read-more-state" id="post-2" />

            <ul class="read-more-wrap">
                <li class="read-more-target" >Gala 2023</li>
                <li class="read-more-target" >Gala 2022</li>
                <li class="read-more-target" >Gala 2021</li>
                <li class="read-more-target" >Gala 2020</li>
                <li class="read-more-target" >Gala 2019</li>
                <li class="read-more-target" >Gala 2018</li>
            </ul>    
            
        </div>
    </label>

    <label for="post-3">
        <div class="conteneur-categorie">
            
            <div  class="categorie-label">
                <img src="image/chevron-down.svg" alt="">
                <h2 class="categorie">Gala</h2>
            </div>
                
            <input type="checkbox" class="read-more-state" id="post-3" />

            <ul class="read-more-wrap">
                <li class="read-more-target" >Gala 2023</li>
                <li class="read-more-target" >Gala 2022</li>
                <li class="read-more-target" >Gala 2021</li>
                <li class="read-more-target" >Gala 2020</li>
                <li class="read-more-target" >Gala 2019</li>
                <li class="read-more-target" >Gala 2018</li>
            </ul>    
            
        </div>
    </label>

    <label for="post-4">
        <div class="conteneur-categorie">
            
            <div  class="categorie-label">
                <img src="image/chevron-down.svg" alt="">
                <h2 class="categorie">Gala</h2>
            </div>
                
            <input type="checkbox" class="read-more-state" id="post-4" />

            <ul class="read-more-wrap">
                <li class="read-more-target" >Gala 2023</li>
                <li class="read-more-target" >Gala 2022</li>
                <li class="read-more-target" >Gala 2021</li>
                <li class="read-more-target" >Gala 2020</li>
                <li class="read-more-target" >Gala 2019</li>
                <li class="read-more-target" >Gala 2018</li>
            </ul>    
            
        </div>
    </label>
 

    {% include 'footer.html' %}

</body>
</html>