<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <link rel="stylesheet" href="style\demo.css" >
    <link rel="javascript" href="style\javascript.js" >
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="header-logo">Com'STUDIO</div>
    </header>

<div class="derniere-categories">
   
    {% for i in 0..2%}
            <div class="derniere-categorie1">
                <h2>babouche 2023</h2>
                <a href="/photo/" class="boutton">Photos</a>
             </div>

    {% endfor %}
 </div>
    
   <div>
        <img src='loupe'>
        <input type = 'text'>
        <button type="submit">Rechercher</button>
   <div>


    <div class="derniere-categories">
    {% set i = 0 %}
    {% for categorie in categories %}
        {% set i = i + 1 %}

        {% if (i/2) == 0 %}
            </div>
            <div class="derniere-categories">
        {% endif %}


        <div class="derniere-categorie1">
            <h2> {{ categorie[0]}} </h2>
            <a href="/photo/{{ categorie[0]}}" class="boutton">Photos</a>
        </div>
    {% endfor %}
    </div>
   




    {% include 'footer.html' %}

</body>
</html>