<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style\stylesheet.css" >
    <title>Login</title>
</head>
<body>




    <div class="conteneur-login">
        <div class="login-lasalle">
            <h2>Etudiants Unilasalles</h2>
            <form>
            {# {{ form(form) }} #}
                <p>mail</p>
                <input type="text" id="login"></input>
                <p>mot de passe</p>
                <input type="text" id="mdp"></input>
                
            </form>
            <a class="boutton" href="/menu" type="submit">Se connecter</a>
        </div>

        <div class="bordure-fondue">

        </div>

        <div class="login-evenement">
            <h2>Code evenement</h2>
            <form>
                <p>Code Evenement</p>
                <input type="text" id="login"></input>
                <p>mot de passe</p>
                <input type="text" id="mdp"></input>
            </form>
            <a class="boutton" href="/menu" type="submit">Se connecter</a>
        </div>
    </div>


</body>
</html>